@charset "utf-8";

/* General settings */

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	background: #ffffff;
	font: 0.625em/1.5em arial, tahoma, verdana, sans-serif;
	min-height:	100%;
	position: relative;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

/* Page layout */

.content {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

/* Default fonts */

p, a, li { color: #304055; 	font-size: 1.5em;	font-family: arial, tahoma, verdana, sans-serif; 	font-weight: normal; }
ul { color: #304055; 	font-size: 1.0em;	font-family: arial, tahoma, verdana, sans-serif; 	font-weight: normal; }
h1 { color: #304055; 	font-size: 3.0em; font-family: arial, tahoma, verdana, sans-serif; 	font-weight: bold; }
h3 { color: #304055;	font-size: 2.0em;	font-family: arial, tahoma, verdana, sans-serif; 	font-weight: bold; }
h4 { color: #304055;	font-size: 1.7em;	font-family: arial, tahoma, verdana, sans-serif; 	font-weight: normal; }
h5 { color: #304055;	font-size: 1.8em;	font-family: arial, tahoma, verdana, sans-serif; 	font-weight: bold; }
h6 { color: #304055;	font-size: 1.8em;	font-family: arial, tahoma, verdana, sans-serif; 	font-weight: bold; }
h2 {
	color: #304055;
	font-size: 2.0em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid #e0e0e0;
}
/* Header */

header {
	position: relative;
	text-align: center;
	padding-bottom:	10px;
}

/* Header - LOGO */

header h1 a {
	display: block;
	margin-top: 20px;
}

/* Header - MENU */

#menu {
	width: 980px;
	margin: 0 auto;
}

nav {
  margin: 0;
  padding: 0;
  width: 980px;
  height: 20px;
}

nav ul {
  background-color: #d3d3d3;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  float: left;
  position: relative;
  width: 195px;
}

/* Sub-navigation */

nav ul li ul {
  position: absolute;
  background-color: #7f0000;
	z-index: 1;
}

nav ul li ul li {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
}

nav a {
  color: #7f0000;
  text-decoration: none;
  display: block;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
	background-color: #f2f3f4;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus,
nav ul li ul li a:active {
	background-color: #812B2B;
}

nav ul li ul li a {
  border-bottom:solid 1px #fff;
	color: #fff;
  padding:0;
  font-size: 0.6em;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: normal;
}

nav ul li ul li:last-child a {
  border-bottom: none;
}

ul.submenu {
  display: none;
}

.dropdown {
border-left:solid 1px #fff;
}

/* Main */

#main {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}

#main .content {
	text-align: center;
}

/* Main - SLIDER */

#slider {
	position:	relative;
	width: 800px;
	margin: 0 auto;
}

#slider img {
	margin: 0 auto;
	display: block;
	width: 800px;
	height: 480px;
}

.active {
	display: block;
	position: relative;
}

.hidden {
  display: none;
  position: relative;
}

/* Slider - animacje */

@keyframes
	fadeinleft {
  	from {
    	opacity: 0;
    	-webkit-filter: blur(2px);
    	transform: translateX(20%);
    }
    to {
			opacity: 1;
    	-webkit-filter: blur(0px);
    	transform: translateX(0%);
    }
	}

@keyframes
	fadeinright {
    from {
	    opacity: 0;
	    -webkit-filter: blur(2px);
	    transform: translateX(-20%);
    }
    to {
			opacity: 1;
	    -webkit-filter: blur(0px);
	    transform: translateX(0%);
    }
	}

@keyframes
	fadein {
    from {
	    opacity: 0;
	    -webkit-filter: blur(2px);
    }
	    to {opacity: 1;
	    -webkit-filter: blur(0px);
    }
	}

#start {
	animation-name: fadein;
	animation-duration: 1s;
	overflow: hidden;
}

#left{
  animation-name: fadeinleft;
  animation-duration: 1s;
  overflow: hidden;
}

#right{
  animation-name: fadeinright;
  animation-duration: 1s;
  overflow: hidden;
}

/* Slier - przyciski*/

.leftbutton{
  position: absolute;
  margin: -250px 0px 0px 0px;
  cursor: pointer;
  padding: 16px;
  color: #fff;
  font-size: 30px;
  background: #7F7F7F;
}

.leftbutton:hover{
	background: #C0C0C0;
}

.rightbutton{
  position: absolute;
  margin: -250px 0px 0px 753px;
  cursor: pointer;
  padding: 16px;
  color: #fff;
  font-size: 30px;
  background: #7F7F7F;
  z-index: 1;
}

.rightbutton:hover{
	background:	#C0C0C0;
}

.buttonssection{
	margin-bottom: 16px;
	font-size: 18px;
	position: absolute;
	bottom: 0;
}

.bottombuttons{
	background-color:	#000;
	display: inline-block;
	border-radius: 50%;
	height: 13px;
	width: 13px;
	background-color: transparent;
	border: 1px solid #ccc;
}

.bottombuttons:hover{
	background-color:	#fff;
}

.Whitebackground {
	background:	#fff!important;
}

/* Slider - opisy slajdów */

.description{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0.01em 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  color: #fff;
  background-color: #7F7F7F;
  z-index: 1;
}

#slidercontainer {
	position: relative;
	width: 800px;
	padding: 0;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 5px;
}

/* Main - tekst powitalny */

#main .text {
	padding: 10px 80px 20px 80px;
	margin-bottom: 25px;
	text-align: center;
}

#main h1 {
	color: #304055;
	font-size: 2.0em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	margin-bottom: 15px;
}

#main h2 {
	color: #304055;
	font-size: 1.6em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: normal;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	text-align: justify;
}

#main h3 {
	color: #304055;
	font-size: 2.0em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid #e0e0e0;
}


/* Main - artykuły */

#main .leftarticle {
	float: left;
	width: 48%;
}

#main .rightarticle {
	float: right;
	width: 48%;
}

#main section article div {
	overflow: hidden;
	padding: 20px;
	background: #ffffff;
	text-align: justify;
}

#main section article div {
	overflow: hidden;
	padding: 20px;
	background: #ffffff;
	text-align: justify;
	height: 500px;
}

#main article h2 {
	margin-bottom: 10px;
	padding: 5px;
	background: #ffffff;
}

#main article a.wiecej {
	font-weight: bold;
	float: right;
	margin-top: 10px;
	margin-bottom: 100px;
	padding: 20px;
}

#main article a:hover {
	text-decoration: none;
}

#main ul {
	float: left;
	margin: 13px 0px 12px 15px;
}

#main ul li {
	text-align: left;
	padding-left: 10px;
}

#main .leftarticle img {
	width: 75px;
	height: 75px;
	margin: auto;
	padding-bottom: 15px;
	padding-top: 5px;
	display: block;
}

#main .rightarticle img {
	width: 75px;
	height: 75px;
	margin: auto;
	padding-bottom: 15px;
	padding-top: 5px;
	display: block;
}

/* Footer */

footer {
	position: absolute;
	height: 0px;
	width: 100%;
	bottom: 0;
	clear: both;
}

footer ul {
	overflow: hidden;
	list-style: none;
	background: #f5f5f5;
	border: 1px solid #e0e0e0;
	padding-bottom: 10px;
	margin-top: 50px;
}

footer ul li {
	text-align: center;
	width: 960px;
}

footer a {
	text-decoration: underline;
	font-size: 1em;
}

footer a:hover {
	text-decoration: none;
}

footer .copyright {
	clear: both;
	text-align: center;
}

/* O firmie - opisy */

#firma h2 {
	color: #304055;
	font-size: 2.0em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid #e0e0e0;
}

#firma h5 {
	color: #304055;
	font-size: 2.0em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#firma ul {
	list-style: url("images/pointer.jpg");
	margin: 20px;
}

#firma ul li {
	color: #304055;
	font-size: 1.8em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: normal;
	text-align: justify;
}

/* O firmie - obrazki pomiędzy artykułami */

#firma img {
	width: 75px;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	display: block;
}

/* Kontakt - mapy Google */

#map-Andrychow {
	width: 400px;
	height: 280px;
	background-color: #CCC;
}
#map-Cieszyn {
	width: 400px;
	height: 280px;
	background-color: #CCC;
}
#map-Jastrzebie {
	width: 400px;
	height: 280px;
	background-color: #CCC;
}
#map-Oswiecim {
	width: 400px;
	height: 280px;
	background-color: #CCC;
}
#map-Kety {
	width: 400px;
	height: 280px;
	background-color: #CCC;
}

#kontakt .Andrychowclass {
	float: left;
	width: 49%;
	padding-bottom: 15px;
	padding-top: 15px;
}

#kontakt .Cieszynclass {
	float: right;
	width: 49%;
	padding-bottom: 15px;
	padding-top: 15px;
}

#kontakt .Jastrzebieclass {
	float: left;
	width: 49%;
	padding-bottom: 15px;
	padding-top: 15px;
}

#kontakt .Oswiecimclass {
	float: right;
	width: 49%;
	padding-bottom: 15px;
	padding-top: 15px;
}

#kontakt .Ketyclass {
	float: left;
	width: 49%;
	padding-bottom: 15px;
	padding-top: 15px;
}

#map-Andrychow {
	margin: 0 auto;
	margin-bottom: 10px;
	border: 2px solid #e0e0e0;
}

#map-Cieszyn {
	margin: 0 auto;
	margin-bottom: 10px;
	border: 2px solid #e0e0e0;
}

#map-Jastrzebie {
	margin: 0 auto;
	margin-bottom: 10px;
	border: 2px solid #e0e0e0;
}

#map-Oswiecim {
	margin: 0 auto;
	margin-bottom: 10px;
	border: 2px solid #e0e0e0;
}

#map-Kety {
	margin: 0 auto;
	margin-bottom: 10px;
	border: 2px solid #e0e0e0;
}

/* Kontakt - opisy pod mapami Google */

#kontakt h6 {
	margin: 0px 0px 10px 40px;
}

#kontakt p {
	margin: 0px 0px 0px 40px;
	line-height: 22px;
}

#kontakt .Opiskontakt {
	padding-bottom: 25px;
}

#kontakt h2 {
	color: #304055;
	font-size: 2.0em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid #e0e0e0;
}

#kontakt h4 {
	text-align: justify;
}

#kontakt a {
	text-decoration: underline;
	font-size: 1em;
}

/* Oferta - kategorie - modal do przeglądania galerii */

#modal-main {
	display: none; /* default = hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

#modal-container {
	position: relative;
	margin:	0 auto;
	width: 800px;
	margin-top:	100px;
	z-index: 2;
}

.modal-content {
	position:	relative;
	clear: both;
  margin: auto;
  display: block;
  max-width: 800px;
	height:	480px;
}

#modal-caption {
	font-weight: normal;
	font-size: 1.9em;
	margin-top: 10px;
  margin-left: auto;
	margin-right: auto;
  display: block;
  width: 80%;
	width: 800px;
  text-align: center;
	vertical-align: middle;
	padding: 20px 0px;
	background-color: rgb(40,0,0);
  background-color: rgba(40,0,0,0.7);
  color: #fff;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes
	zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
	}

@keyframes
	zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
	}

/* Modal side Buttons */

#modal-left-button, #modal-right-button {
	position: absolute;
	cursor: pointer;
	padding: 16px;
	color: #fff;
	font-size: 40px;
	box-sizing: border-box;
	width: 55px;
	height: 50px;
}

#modal-left-button{
	margin: 215px 0px 0px -60px;
}

#modal-right-button{
	margin: 215px 0px 0px 805px;
}

#modal-right-button:hover, #modal-left-button:hover{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Oferta - opis */

#oferta .content {
	position: relative;
	text-align: middle;
}

#oferta section article {
	border: 1px solid #e0e0e0;
	height: 205px;
	float: left;
	width: 320px;
}

#oferta section article:hover {
	background: #e5e5e5;
}

#oferta h4 {
	color: #304055;
	font-size: 1.7em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: normal;
	margin: 0px 0px 30px 0px;
	text-align: justify;
}

.gallerydescription {
	color: #304055;
	font-size: 1.6em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	margin: 14px 0px 0px 25px;
	text-decoration: none;
}

#oferta p {
	color: #304055;
	font-size: 1.2em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	margin: 0px 0px 0px 15px;
	text-decoration: none;
	margin-bottom: 10px;
}

#oferta h2 {
	color: #304055;
	font-size: 2.0em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid #e0e0e0;
}

/* Oferta - Style kategorii */

#kat-kuchenne img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-biurowe img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-mlodziezowe img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-salon img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-tapicerowane img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-stolyikrzesla img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-sypialnia img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-przedpokoj img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-mebloscianki img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-materace img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-dekoracje img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

#kat-inne img {
	margin: auto;
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 160px;
	margin-bottom: 5px;
}

/* Ogólny styla dla h2 - nagłówku na podstronach */

/* Logo producenta po najechaniu myszką na obrazek w galerii */

.towary h3 {
	color: #304055;
	font-size: 2em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: normal;
	margin: 0px 0px 20px 20px;
	text-decoration: none;
}

.towary h4 {
	text-align: justify;
	margin-bottom: 20px;
}

.towary article {
	border: 1px solid #e0e0e0;
	height: 230px;
	float: left;
	width: 320px;
}

.towary article p {
	color: #304055;
	font-size: 1.7em;
	font-family: arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	margin: 0px 0px 0px 20px;
	text-decoration: none;
}

article .tooltip img {
	margin: auto;
	display: block;
	max-width: 300px;
	height: 180px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.tooltip span {
	display: none;
}

.tooltip span img {
	max-width: 130px;
	max-height: 60px;
	border: 2px solid;
}

.tooltip:hover span {
	display: block;
	position: absolute;
	margin-top: -205px;
	overflow: hidden;
}

.tooltip:hover {
	cursor: pointer;
}

/* Producenci */

.producenci article {
	overflow: hidden;
	float: left;
	width: 194px;
	height: 128px;
}

#producenci article img {
	margin: auto;
	display: block;
	width: 180px;
	height: 100px;
	margin-top: 14px;
	border: 1px solid #e0e0e0;
}

#producenci article img:hover {
	opacity: 0.80;
	filter: alpha(opacity=80);
}

#producenci h4 {
	text-align: justify;
	margin-bottom: 20px;
}

/* Promocje */

.promotionimage {
	width: 576px;
	display: block;
	margin: 0 auto;
	min-height: 480px;
	border: 1px solid #e0e0e0;
}

.promotioncontainer {
	position: relative;
	width: 980px;
	margin: 0 auto;
}

.promotionimagebox {
	float: left;
	width: 60%;
	min-height: 480px;
	position: relative;
}

.promotiondescription {
	float: right;
	width: 39%;
	position: relative;
}

.promotionbox {
	width: 980px;
	min-height: 480px;
	display: block;
	position: relative;
	margin-top: 20px;
}

.promotiondescription {
	border: 1px solid #e0e0e0;
	min-height: 480px;
}

.promotionlogo {
	margin: auto;
	display: block;
	width: 180px;
	height: 100px;
	margin-top: 5px;
}

.promotiondescription h2 {
	margin: 15px 5px 15px 5px;
	padding: 0;
	font-size: 1.8em;
	font-weight: bold;
	border: none;
	text-align: justify;
	font-family: arial, tahoma, verdana, sans-serif;
}

.promotiondescription h3 {
	margin: 15px 5px 15px 5px;
	padding: 0;
	font-size: 1.5em;
	font-weight: bold;
	border: none;
	text-align: justify;
	font-family: arial, tahoma, verdana, sans-serif;
}

.promotiondescription h4 {
	margin: 15px 5px 15px 5px;
	padding: 0;
	font-size: 1.5em;
	font-weight: normal;
	border: none;
	text-align: justify;
	font-family: arial, tahoma, verdana, sans-serif;
}

.promotiondescription h4 a {
	text-decoration: none;
	color: red;
	font-size: 1.1em;
}
